<a href="https://colab.research.google.com/github/nafl13/ICT_DSA/blob/Daily_tasks/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
string1 = "Hello, World!"
substring1 = string1[0:5]
print(substring1)

Hello

In [2]:
string2 = "Python is fun"
substring2 = string2[7:9]
print(substring2)

is

In [3]:
string3 = "Programming"
substring3 = string3[3:7]
print(substring3)

gram

In [4]:
string4 = "abcdefgh"
even_chars = ""
for i in range(0, len(string4), 2):
    even_chars += string4[i]
print(even_chars)

aceg

In [5]:
string5 = "abcdefg"
substring5 = string5[-3:]
print(substring5)

efg

In [6]:
string6 = "Data Science"
last_three_chars = string6[-3:]
print(last_three_chars)

nce

In [7]:
string7 = "abcdefghij"
every_second_char = ""
for i in range(0, len(string7), 2):
    every_second_char += string7[i]
print(every_second_char)

acegi

In [10]:
string8 = "1234567890"
odd_digits = ""
for i in range(0, len(string8), 2):
    odd_digits += string8[i]
print(odd_digits)

13579

In [11]:
string9 = "Hello"
reversed_string = ""
for i in range(len(string9) - 1, -1, -1):
    reversed_string += string9[i]
print(reversed_string)

olleH

In [12]:
string10 = "abcdefghijk"
substring10 = ""
for i in range(0, len(string10), 2):
    substring10 += string10[i]
print(substring10)

acegik

In [13]:
list11 = [1, 2, 3, 4, 5]
sum_list11 = 0
for num in list11:
    sum_list11 += num
print(sum_list11)

15

In [14]:
sentence = input("Enter a sentence: ")
length = 0
for char in sentence:
    length += 1
print(length)

first_half = ""
for i in range(length // 2):
    first_half += sentence[i]
print(first_half)

Enter a sentence: python is fun
13
python

In [15]:
tuple13 = (78, 45, 32, 19, 82, 77, 40, 39)
list13 = list(tuple13)
list13[2] = 100
tuple13 = tuple(list13)
print(tuple13)

(78, 45, 100, 19, 82, 77, 40, 39)

In [19]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.remove(32)
listA = [x for x in listA if x != 40]
del listA[5]
listA.insert(2, 200)
print(listA)
lengthA = 0
maxA = listA[0]
sumA = 0
for x in listA:
    lengthA += 1
    sumA += x
    if x > maxA:
        maxA = x
print("Length :" , lengthA)
print("Maximum: " , maxA)
print("Sum: " , sumA)

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length : 10
Maximum:  200
Sum:  528

In [20]:
string15 = "The day has been long"
list15 = list(string15)
del list15[4]
string15 = ''.join(list15)
print(string15)

repeated_string15 = " ".join([string15] * 4)
print(repeated_string15)

for _ in range(3):
    print(string15)

list15 = list(string15)
list15[7] = 'A'
string15 = ''.join(list15)
print(string15)

substring15 = string15[4:16]
print(substring15)

length15 = 0
for char in string15:
    length15 += 1
print(length15)

The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
The ay Aas been long
ay Aas been
20